.hamburger {
    display: block;
    background-color: #fff;
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
}
.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.headerTitle {
    font-size: 24px;
    color: #fff;
    margin: 0;
}
.headerLinks {
    display: flex;
    margin: 0;
    align-items: center;
    color: #fff;
    list-style-type: none;
}
.headerLinks li {
    margin-right: 20px;
    font-size: 18px;
}
@media (max-width: 576px) {
    .headerTitle {
        display: none;
    }
    .headerBlock {
        justify-content: space-around;
    }
}